secrets/
*.key
*.pem
.env

# Archivos de sistema o editor
*.log
*.swp
.DS_Store
__pycache__/
node_modules/
in_telegram/__pycache__
g_sheets/__pycache__/
# Archivos de Python (si aplica)
*.pyc
*.pyo
*.pyd